#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* formularios.css */
.contenedor {
  width: 350px;
  background: #6a0572; /* Fondo morado */
  color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 100px; 
}

.contenedor h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 1.5rem;
}

.contenedor .inputs {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 20px 0;
}

.contenedor label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.contenedor input[type="text"],
.contenedor input[type="password"] {
  flex: 1;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
  font-size: 16px;
  color: #ffffff;
  padding: 0 20px;
  box-sizing: border-box;
  outline: none;
}

.contenedor input::placeholder {
  color: #ffffff;
}

.inputs i {
  margin-left: -40px;
  color: #ffffff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  pointer-events: none;
}

.contenedor .opciones {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -10px 0 15px;
}

.opciones label {
  display: flex;
  align-items: center;
}

.opciones label input {
  width: auto;
  height: auto;
  accent-color: #ffffff;
  margin-right: 5px;
}

.opciones a {
  color: #ffffff;
  text-decoration: none;
}

.btn-form {
  width: 100%;
  height: 45px;
  background: #ffffff;
  border: none;
  outline: none;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #6a0572;
  font-weight: 600;
  margin-top: 10px;
}

.contenedor .opciones a:hover {
  text-decoration: underline;
}

.opciones p {
  margin-bottom: 0;
}

.opciones p a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.opciones p a:hover {
  text-decoration: underline;
}




