/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1A332E; /* Color de la barra de navegación */
  padding: 10px 20px;
  position: relative; /* Asegura que el menú desplegable se posicione relativo al header */
  z-index: 100;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container .logo {
  width: 50px;
  margin-right: 10px;
}

.logo-container .title {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}

.categories-link-wrapper,
.tournaments-link-wrapper {
  position: relative;
}

.button-container {
  display: flex;
  gap: 10px;
}

.btn-init, .btn-reg {
  padding: 10px 20px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.btn-init:hover, .btn-reg:hover {
  background-color: #fff;
  color: #1A332E;
}

/* Hero Section */
.hero {
  position: relative;
  width: 100vw; /* Asegurar que el video ocupe todo el ancho de la ventana */
  height: 100vh; /* Asegurar que el video ocupe toda la altura de la ventana */
  overflow: hidden;
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Search Bar */
.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-bar input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Tournaments Section */
.torneos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#tournament-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 16px;
  margin: 16px;
  text-align: center;
  width: 300px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card button {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background-color: #e64a19;
}

/* Modal */
.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 105;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  max-width: 500px;
  width: 90%;
}

.modal-content img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

/* Dropdown Menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* Ajustar para alinearlo con el logo */
  left: 0;
  background-color: #1A332E; /* Mismo color que la barra de navegación */
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 100vw; /* Ocupar todo el ancho de la página */
  padding: 20px; /* Añadir padding para el contenido */
  display: flex; /* Alinear elementos en horizontal */
  justify-content: space-around; /* Espacio entre elementos */
}

.dropdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: #ffffff; /* Color del texto */
}

.dropdown-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 10px;
}

.dropdown-item p {
  margin: 0;
  font-size: 16px;
}

.categories-link-wrapper:hover .dropdown-menu,
.tournaments-link-wrapper:hover .dropdown-menu,
.dropdown-menu:hover {
  display: flex;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 20px 4%; /* Incrementar padding vertical en pantallas más pequeñas */
  }
  
  .logo {
    width: 40px;
    margin-right: 10px;
  }
  
  .title h1 {
    font-size: 22px;
  }
  
  .title p {
    font-size: 14px;
  }
  
  .navigation {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  
  .navigation a {
    font-size: 16px;
  }
  
  .button-container {
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
  }
  
  .btn-init,
  .btn-reg {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 16px 2%;
  }
  
  .logo {
    width: 35px;
    margin-right: 8px;
  }
  
  .title h1 {
    font-size: 20px;
  }
  
  .title p {
    font-size: 12px;
  }
  
  .navigation a {
    font-size: 14px;
  }
  
  .btn-init,
  .btn-reg {
    font-size: 12px;
    padding: 8px 16px;
  }
}

/* Dropdown Menu for Tournaments */
.tournaments-link-wrapper:hover .dropdown-menu-tournaments,
.dropdown-menu-tournaments:hover {
  display: flex;
}

.dropdown-menu-tournaments {
  display: none;
  position: absolute;
  top: 100%; /* Ajustar para alinearlo con el logo */
  left: 0;
  background-color: #1A332E; /* Mismo color que la barra de navegación */
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 100vw; /* Ocupar todo el ancho de la página */
  padding: 20px; /* Añadir padding para el contenido */
  display: flex; /* Alinear elementos en horizontal */
  justify-content: space-around; /* Espacio entre elementos */
}

.dropdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: #ffffff; /* Color del texto */
}

.dropdown-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 10px;
}

.dropdown-item p {
  margin: 0;
  font-size: 16px;
}

